<!DOCTYPE html>
<html>
  <head>
    <title>Enjoy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <script type="text/javascript">
    window.ytLogo = "<%= image_url('yt_logo_rgb_light.png') %>";
  </script>
  <body>
    <%= yield %>
  </body>
</html>
